*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* header*/
.header{
    background-image: url("/Images/images/01headerbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}
.headernav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.headernav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}
.headernav ul a{
    text-decoration: none;
    color: white;
}
.headerlogo{
    padding-left: 20px;
    margin-left: 20px;

}
.headercontent{
    color: white;
    margin-top: 190px;
    margin-left: 100px;
    text-align: center;
    position: relative;
}
.headerh2{
    text-align: center;
    margin-bottom: 10px;

}
.headerp{
    margin-bottom: 40px;

}
.headerbutton{
    background-color: rgba(255, 101, 101, 0.9);
    color: white;
    padding: 10px;
    border-radius: 25px;
    border: none;
    margin-bottom: 50px;
    margin-left: 30px;
    text-align: center;
}
.headerbutton:hover{
    background-color: rgb(255, 101, 101);
}
.headerp1{
margin-bottom: 90px;
}