*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* header*/
.header{
    background-image: url("/Images/images/01headerbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}
.headernav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.headernav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}
.headernav ul a{
    text-decoration: none;
    color: white;
}
.headerlogo{
    padding-left: 20px;
    margin-left: 20px;

}
.headercontent{
    color: white;
    margin-top: 190px;
    margin-left: 100px;
    text-align: center;
    position: relative;
}
.headerh2{
    text-align: center;
    margin-bottom: 10px;

}
.headerp{
    margin-bottom: 40px;

}
.headerbutton{
    background-color: rgba(255, 101, 101, 0.9);
    color: white;
    padding: 10px;
    border-radius: 25px;
    border: none;
    margin-bottom: 50px;
    margin-left: 30px;
    text-align: center;
}
.headerbutton:hover{
    background-color: rgb(255, 101, 101);
}
.headerp1{
margin-bottom: 90px;
}



/* What we do*/
.whatwedo{
    text-align: center;
    margin: 70px;

}
.whatwedop{
    margin-top: 25px;

}
.whatwedocontent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 10px;
    margin-top: 50px;

}
.whatwedoimg img{
    min-width: 100px;
    max-width: 100px;
}


/* Our results*/
.ourresults{
    background-image: url("/Images/images/02footerbg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 290%;
    padding: 20px;
    text-align: center;
   color: white;
}

.ourresultcontent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 10px;
    margin-top: 50px;
    text-align: center;

}
.ourresultcontent img{
    max-width: 300px;
}
.ourresultcontentp{
    margin-top: -50%;
    margin-bottom: 200px;
}
.ourresultsh2{
    margin: 50px;
    margin-top: 100px;
    font-weight: bold;
    font-weight: 50px;
}
.ourresultsp{
    margin: 50px;
    font-size: 20px;
}


/* Contact Us*/
.contactus{
    text-align: center;
    line-height: 200%;
}
.contactushr{
    width: 300px;
    text-align: center;
    margin-left: 650px;
    margin-bottom: 10px;
}
.contactus h2{
    margin: 50px;
}